extends layout

block content
  
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  
  br
  p(style="text-align: center; font-size:22px; font-weight: bold") Perfil 
 
  p(style="font-weight: bold") Nome: #{utilizador.nome}
  p(style="font-weight: bold") Email: #{utilizador.email}
  p(style="font-weight: bold") Data de registo: #{utilizador.dataRegisto.split("T")[0]}
  p(style="font-weight: bold") Hora de registo: #{utilizador.dataRegisto.split("T")[1].split(".")[0]}
  p(style="font-weight: bold") Filiação: #{utilizador.filiacao}
