extends layout

block content
  
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  
   
  p(style="text-align: center; font-size:22px; font-weight: bold") Perfil 
 
  p(style="text-align: center") Nome: #{utilizador.nome}
  p(style="text-align: center") Email: #{utilizador.email}
  p(style="text-align: center") Data de registo: #{utilizador.dataRegisto.split("T")[0]}
  p(style="text-align: center") Hora de registo: #{utilizador.dataRegisto.split("T")[1].split(".")[0]}
  p(style="text-align: center") Filiação: #{utilizador.filiacao}
