extends layout

block content
 div(style="font-size: 14px; width: 85%; margin: auto")

  div(style="float: right")
    a(href="/recursos/upload" style="text-decoration: none; color:black")
      i.material-icons(style="font-size: 28px; margin-right:20px; vertical-align:-24%") add_circle_outline
  p(style="margin-left: 10px; font-size:20px; font-weight: bold") Recursos Educativos 
  
  table(class="w3-table-all")
        tr.w3-blue
            th Tipo
            th Titulo
            th Subtitulo
            th Data
            th Autor
            th  
        each r in recursos
            tr
                td= r.tipo
                td
                  a(href='/recursos/' + r._id) #{r.titulo}
                td= r.subtitulo
                td= r.dataCriacao.split("T")[0]
                td= r.produtor.nomeP
                td 
                  a(href="/download/"+r.path)
                    div(style="text-decoration: none; color: black")
                      i.material-icons.md-18(style="vertical-align:-14%") archive
  div(role='navigation' aria-label='Main')

    ul.pagination
      li.page-item
        a.page-link(href='/recursos?page='+(pag.paginaAtual-1)) Previous
      li.page-item.active(aria-current="page")
        a.page-link #{pag.paginaAtual}
      li.page-item
        a.page-link(href='/recursos?page='+(1+pag.paginaAtual-9)) Next
  