extends layout

block content

  p(style="margin-left: 10px; font-size:20px; font-weight: bold") Recrusos Educativos
  table(class="w3-table-all")
        tr.w3-blue
            th Tipo
            th Titulo
            th Subtitulo
            th Data da Criação
            th Autor
        each r in recursos
            tr
                td= r.tipo
                td
                  a(href='/recursos/' + r._id) #{r.titulo}
                td= r.subtitulo
                td= r.dataCriacao.split("T")[0]
                td= r.produtor.nomeP