extends layout

block content

 div(style="font-size: 14px; width: 85%; margin: auto")
 
  .w3-card-4
     header.w3-container.w3-blue
      h2(style="text-align:center; font-weight: bold") #{recurso.titulo}
  .w3-container  
    
    br
    p(style="text-align:center;  font-size:18px;") #{recurso.subtitulo} 
    
    div(style="float: left; padding: 70px 0;") 
      br
      table(class="w3-table-all w3-small")
        tr
          td.w3-blue Data de Criação:
          td= recurso.dataCriacao.split("T")[0]
        tr 
          td.w3-blue Data de Registo:
          td= recurso.dataRegisto.split("T")[0]
        tr 
          td.w3-blue Rating:
          if voted == 1
            if recurso.ranking
             td
              d  #{recurso.ranking.rating}/10 de #{leng.leng} avaliações
            else
             td= NaN
          else
            
             if recurso.ranking.rating
               td
                d #{recurso.ranking.rating}/10 de #{leng.leng}
                 
                form(style="margin-left:10px" class="w3-container" action='/recursos/classificar/'+recurso._id, method='POST')
                  select(name='rating')
                    option(value='0') Selecione um rating:
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
                    option(value='8') 8
                    option(value='9') 9
                    option(value='10') 10
                  input.w3-btn.w3-blue(type='submit' for='rating'  style='font-size:8px;margin:5px' value='Submeter')  
             else
              td 
                d Sem avaliações
                form(class="w3-container" action='/recursos/classificar/'+recurso._id, method='POST')
                  select(name='rating')
                    option(value='0') Selecione um rating:
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
                    option(value='8') 8
                    option(value='9') 9
                    option(value='10') 10
                  input.w3-btn.w3-blue(type='submit' for='rating'  style='font-size:8px;margin:5px' value='Submeter')  
             
        tr 
          td.w3-blue Produtor:
          td= recurso.produtor.nomeP
        tr 
          td.w3-blue Email do produtor:
          td= recurso.produtor.emailP
      div(style="margin-top:30%;")
      if tag
        a(href="/recursos/editar/"+recurso._id)  
            button.w3-btn.w3-blue Editar
        |
        |
        a(href="/recursos/remover/"+recurso._id style="margin-left:10px")  
            button.w3-btn.w3-blue Remover
        |
        |
      a(href="/recursos" style="margin-left:10px")  
            button.w3-btn.w3-blue Back

