extends layout

block content

 div(style="font-size: 14px; width: 85%; margin: auto")
 
  .w3-card-4
     header.w3-container.w3-blue
      h2(style="text-align:center; font-weight: bold") #{recurso.titulo}
  .w3-container  
    
    br
    p(style="text-align:center;  font-size:18px;") #{recurso.subtitulo} 
    

    div(style="float:right; margin-right:10px; ") 


      .w3-btn(style="border: 2px solid black;" onclick='addPost("1")') Escrever Post 
        i.material-icons(style="font-size: 22 px; margin-right:10px; vertical-align:-24%") add_circle_outline
      
    
    div(id=1, style="float:right; margin-top:80px; font-size:14px; width: 40rem; display: none;")
  
       form(class="w3-container" action='/posts/'+recurso._id, method='POST')
            label(class="w3-text-black")
             b Título:
            input(class="w3-input w3-border w3-light-grey", type="text", name="titulo", required)   

            label(class="w3-text-black")
             b Descrição:
            textarea#w3review.w3-light-grey(name="descricao" rows='7' cols='54', required) 

            button(style="position: relative; left:40%; margin-top:20px;" class="w3-btn w3-blue" type="submit") Postar 
      

    div(style="font-size:14px; float: left; padding: 80px 0;") 
      
      table(class="w3-table-all")
        tr
          td.w3-blue Data de Criação:
          td= recurso.dataCriacao.split("T")[0]
        tr 
          td.w3-blue Data de Registo:
          td= recurso.dataRegisto.split("T")[0]
        tr 
          td.w3-blue Rating:
          if voted == 1
            if recurso.ranking
             td
              d  #{recurso.ranking.rating}/10 de #{leng.leng} avaliações
            else
             td= NaN
          else 
            td    
             form(class="w3-container" action='/recursos/classificar/'+recurso._id, method='POST')
                  if recurso.ranking.rating
                       d(style="margin-left: -15px; margin-right: 35px") #{recurso.ranking.rating}/10 de #{leng.leng}
                  else
                       d(style="margin-left: -15px; margin-right: 35px") Sem avaliações
                  select(name='rating')
                    option(value='0') Selecione um rating:
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
                    option(value='8') 8
                    option(value='9') 9
                    option(value='10') 10
                  input.w3-btn.w3-blue(type='submit' for='rating'  style='font-size:12px;margin-left:15px' value='Submeter')              
        tr 
          td.w3-blue Produtor:
          td= recurso.produtor.nomeP
        tr 
          td.w3-blue Email do produtor:
          td= recurso.produtor.emailP

      a(href="/download/"+recurso.path style="text-decoration:none;")
        p(style="text-decoration: none; color: grey; margin-top:40px ; margin-left: 25px; ") Download
          i.material-icons.md-18(style="vertical-align:-21%; margin-left:10px") archive    
  
      div(style="margin-top:20%;")
      if tag
        a(href="/recursos/remover/"+recurso._id style="margin-left:10px")  
            button.w3-btn.w3-blue Remover
        |
        |
      a(href="/recursos" style="margin-left:10px")  
            button.w3-btn.w3-blue Back


    script.
       function addPost(id) {
       var x = document.getElementById(id);
       if (x.style.display === "none") {
       x.style.display = "block";
       } else {
       x.style.display = "none";
       }
       }

  